<%= form_with model: @user, builder: CustomFormBuilder do |f| %>
  <%= f.password_field_with_validation :password %>
  <%= f.password_field_with_validation :password_confirmation %>
  <p>
    <%= f.submit %>
  </p>
<% end %>